<ion-header class="no-border">
  <ion-toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title
      [innerHTML]="'COMP.RECOVERY_PHRASE.TITLE' | translate"
    ></ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="header">
      <div>
        <p
          [innerHTML]="'COMP.RECOVERY_PHRASE.DESCRIPTION' | translate"
          class="description"
        ></p>
      </div>
    </ion-row>

    <form
      (keydown.enter)="!formObj.invalid ? submit() : null"
      [formGroup]="formObj"
      autocomplete="off"
    >
      <ion-list class="form-item">
        <ion-item-group>
          <ion-item lines="none">
            <ion-textarea
              [placeholder]="
                'COMP.RECOVERY_PHRASE.PLACEHOLDER.SEED_PHRASE' | translate
              "
              formControlName="seedPhrase"
              rows="8"
            ></ion-textarea>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-row class="btn-actions">
        <ion-col>
          <ion-button
            (click)="!formObj.invalid ? submit() : null"
            [disabled]="formObj.invalid"
            class="btn-action"
          >
            {{ 'BUTTON.CONTINUE' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
