@import 'media';
@import 'theme';

ion-toolbar.default {
  padding-top: 7px;
  padding-bottom: 0;
  background-color: #fff;
  border-bottom: none;

  @include isDarkTheme {
    --background: transparent;
    border-bottom: none;
  }

  ion-title {
    padding: 0;
    font-weight: 500;
    font-size: 18px;
  }
}

ion-content {
  background-color: #fff;
}

ion-row.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}

.description {
  text-align: center;
  font-weight: 400;
  margin: 14px auto;
  font-size: 16px;
  line-height: 20px;
  padding: 0 18px;
}

ion-textarea {
  border: 1px solid #000;
  border-radius: 7px;
  padding: 0px 12px;
}

ion-grid {
  max-width: 480px;
  margin: 0 auto;
}

.btn-actions {
  text-align: center;
}
