@import 'media';
@import 'theme';

ion-grid {
  height: calc(100% + 2px);
  max-width: 480px;
  margin: 0 auto;
}

ion-row.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

ion-row.body {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: calc(100% - 30% - 100px);
}

.subtitle {
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}

.description {
  text-align: center;
  font-weight: 400;
  margin: 14px auto;
  font-size: 16px;
  line-height: 20px;
  padding: 0 18px;
}

ion-list.form-item {
  padding: 0 18px;
}

ion-row.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

ion-list.form-item ion-item {
  color: rgb(255 255 255 / 30%);
  border: 1px solid;
  border-radius: 12px;

  @include mobile-sm {
    font-size: 16px;
  }

  @include mobile-xs {
    margin: 8px 0;
    font-size: 15px;
  }
}

.password-info {
  margin-top: 18px;
  font-size: 14px;
  line-height: 19px;
}

.btn-actions {
  ion-col {
    text-align: center;
  }
}

ion-button.btn-action {
  margin-top: 6vh;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0a8d33;
}

::ng-deep .mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #f44336;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #ff8800;
}
