<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-account></app-account>
  <app-total-balance></app-total-balance>
  <app-wallet-address></app-wallet-address>
  <app-wallet-action-buttons></app-wallet-action-buttons>

  <div class="assets">
    <ion-segment
      (ionChange)="onSelectAssetType($any($event.target).value)"
      [value]="selectedAssetType"
      class="segment"
    >
      <ion-segment-button [value]="assetTypeEnum.tokens">
        {{ 'PAGE.ASSETS.TAB.TOKENS' | translate }}
      </ion-segment-button>
      <ion-segment-button [value]="assetTypeEnum.nfts">
        {{ 'PAGE.ASSETS.TAB.NFTS' | translate }}
      </ion-segment-button>
    </ion-segment>

    <ng-container [ngSwitch]="selectedAssetType">
      <ion-row *ngSwitchCase="assetTypeEnum.tokens">
        <app-tokens></app-tokens>
      </ion-row>
      <ion-row *ngSwitchCase="assetTypeEnum.nfts"> Nfts </ion-row>
    </ng-container>
  </div>
</ion-content>
