<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-account></app-account>
  <app-total-balance></app-total-balance>
  <app-wallet-address></app-wallet-address>
  <app-wallet-action-buttons></app-wallet-action-buttons>

  <div class="assets">
    <ion-segment
      (ionChange)="onSelectAssetType($any($event.target).value)"
      scrollable="true"
      [value]="selectedAssetType"
      class="segment"
    >
      <ion-segment-button [value]="assetTypeEnum.tokens">
        Tokens
      </ion-segment-button>
      <ion-segment-button [value]="assetTypeEnum.nfts">
        NFTs
      </ion-segment-button>
    </ion-segment>

    <ion-row
      class="token-list"
      *ngIf="selectedAssetType === assetTypeEnum.tokens"
    >
      <app-tokens></app-tokens>
    </ion-row>

    <ion-row class="nft-list" *ngIf="selectedAssetType === assetTypeEnum.nfts">
      Nfts
    </ion-row>
  </div>

  <!--  <ion-button>-->
  <!--    <ion-label>Import Token</ion-label>-->
  <!--  </ion-button>-->

  <!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
