@import 'media';
@import 'theme';

ion-toolbar {
  background: #fff;
  --background: transparent;
  --border-color: transparent;

  @include isDarkTheme {
    background: transparent;
  }
}

ion-item {
  border: 0;
  width: 100%;
  --width: 100%;
  --min-width: 100%;
  --border-color: transparent;
  --border-width: 0;
  --color: #333;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  --padding-start: 12px;
  --padding-end: 12px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;

  @include mobile-xs {
    font-size: 14px;
  }

  @include isDarkTheme {
    --color: #fff;
  }
}

ion-item-divider {
  font-size: 14px;
  background-color: #F5F5F8;
  --padding-bottom: 7px;
  --padding-top: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  border-bottom: 0;
  position: sticky;
  top: -42px;
  z-index: 10;

  @include isDarkTheme {
    background: #0B2448;
    color: #fff;
  }
}

ion-label {
  font-family: "Gotham", sans-serif;
}

ion-icon {
  font-size: 26px;
  color: #ccc;

  @include isDarkTheme {
    color: #635a5a;
  }
}
