@import 'media';

.user-account {
  position: relative;
  text-align: center;

  ion-button.btn-transparent {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 0 0;
    margin: 0;
    height: 38px;
    --padding-start: 2px;
    --padding-end: 12px;

    .wallet-img {
      height: 32px;
      width: 32px;
      background: purple;
      border-radius: 50%;
      margin-right: 12px;
    }

    ion-label {
      .name {
        font-size: 16px;
        font-family: 'Gotham', serif;
        letter-spacing: 0;
        color: #757575;
      }
    }

    ion-icon {
      color: #757575;
      margin-left: 18px;
      font-size: 20px;
    }
  }
}
