<ion-header class="no-border">
  <ion-toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button (clicked)="back()" [delegate]="true"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="header">
      <div>
        <h1 [innerHTML]="'COMP.KEYSTORE_FILE.TITLE' | translate" class="subtitle"></h1>
        <p [innerHTML]="'COMP.KEYSTORE_FILE.DESCRIPTION' | translate" class="description"></p>
      </div>
    </ion-row>

    <form (keydown.enter)="!formObj.invalid ? submit() : null" [formGroup]="formObj" autocomplete="off">
      <ion-list class="form-item">
        <ion-item-group>
          <ion-item lines="none">
            <input class="file-input" type="file" formControlName="json" (change)="onFileSelected($event)"/>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-list class="form-item">
        <ion-item-group>
          <ion-item lines="none">
            <ion-input formControlName="password" type="password" placeholder="Enter you Password"></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-row class="btn-actions">
        <ion-col>
          <ion-button (click)="!formObj.invalid ? submit() : null" [disabled]="formObj.invalid" class="btn-action">
            {{ 'BUTTON.CONTINUE' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
