<ion-header [translucent]="true" class="no-border">
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button (clicked)="close()" [delegate]="true"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="account-menu"
  [fullscreen]="true"
  scrollEvents="true"
  [appHideHeader]="toolbar"
>
  <ion-searchbar
    [(ngModel)]="searchInputText"
    [debounce]="250"
    [placeholder]="'HEADER.ACCOUNT_MENU.PLACEHOLDER' | translate"
    animated="true"
    class="search"
    autocorrect="off"
  >
  </ion-searchbar>

  <app-loader
    class="loading"
    [class.active]="(wallets$ | async)?.length === 0"
    [loading]="(wallets$ | async)?.length === 0"
  ></app-loader>

  <ion-list class="user-wallets">
    <ion-item
      *ngFor="
        let w of wallets$
          | async
          | appOrderByValue: 'connected':true
          | appFilter: searchInputText:['name', 'address']
      "
      [mode]="'ios'"
    >
      <ion-icon *ngIf="w.connected" name="checkmark-circle-outline"></ion-icon>
      <ion-text>
        <h2>{{ w.name }}</h2>
        <p>{{ parseAddress(w.address) }}</p>
      </ion-text>
      <div slot="end">
        <div class="balance">
          {{ w.balance || '0' | number: '1.0-8' }}
          {{ (chain$ | async)?.symbol }}
        </div>
      </div>
      <ion-button (click)="openMenu($event, w)" class="btn-dot" slot="end">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-list class="account-settings">
    <ion-item (click)="addNewWallet()" [mode]="'ios'" button>
      <ion-label
        [innerHTML]="'HEADER.ACCOUNT_MENU.SETTINGS.ADD_WALLET' | translate"
      ></ion-label>
      <div slot="end"></div>
    </ion-item>
    <ion-item (click)="importWallet()" [mode]="'ios'" button>
      <ion-label
        [innerHTML]="'HEADER.ACCOUNT_MENU.SETTINGS.IMPORT_WALLET' | translate"
      ></ion-label>
      <div slot="end"></div>
    </ion-item>
    <ion-item (click)="(true)" [mode]="'ios'" button>
      <ion-label
        [innerHTML]="
          'HEADER.ACCOUNT_MENU.SETTINGS.ADD_HARDWARE_WALLET' | translate
        "
      ></ion-label>
      <div slot="end"></div>
    </ion-item>
  </ion-list>
</ion-footer>
