<ion-header [translucent]="true" class="no-border">
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button (clicked)="close()" [delegate]="true"></app-back-button>
    </ion-buttons>
    <ion-title>Import Token</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="tabs">
    <ion-segment
      (ionChange)="onSelectTabType($any($event.target).value)"
      scrollable="true"
      [value]="selectedTabType"
      class="segment"
    >
      <ion-segment-button [value]="tabTypeEnum.default">
        {{ 'COMP.IMPORT_TOKENS.MENU.TOKENS' | translate }}
      </ion-segment-button>
      <ion-segment-button [value]="tabTypeEnum.custom">
        {{ 'COMP.IMPORT_TOKENS.MENU.CUSTOM' | translate }}
      </ion-segment-button>
    </ion-segment>

    <ng-container [ngSwitch]="selectedTabType">
      <ng-container *ngSwitchCase="tabTypeEnum.default">
        <app-token-list></app-token-list>
      </ng-container>
      <ng-container *ngSwitchCase="tabTypeEnum.custom"> Custom </ng-container>
    </ng-container>
  </div>
</ion-content>
