<ion-row class="token-list">
  <ion-searchbar
    [(ngModel)]="searchQuery"
    [debounce]="250"
    [placeholder]="'search token name'"
    animated
    autocorrect="off"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="
        let token of tokens
          | appFilter: searchQuery:['name', 'address', 'symbol']
      "
      lines="none"
    >
      <ion-label
        >{{ token?.symbol }} {{ token?.name }} {{ token.selected }}</ion-label
      >
      <ion-toggle
        (ionChange)="toggleToken(token.address)"
        [checked]="token.selected"
        class="toggle"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-row>
