<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="row-container">
      <ion-col>
        <div class="welcome">
          <div class="intro">
            <img
              [src]="
                selectedTheme === 'dark'
                  ? 'assets/img/logo-white.svg'
                  : 'assets/img/logo-black.svg'
              "
              class="logo"
            />
            <p class="subtitle">
              {{ 'PAGE.START.LANGUAGE.TITLE' | translate }}
            </p>
          </div>
          <ion-card class="languages">
            <ion-card-header>
              <ion-label>{{
                'PAGE.START.LANGUAGE.SELECT_LANG' | translate
              }}</ion-label>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item
                  [id]="language.lang"
                  (click)="switchLanguage(language)"
                  *ngFor="let language of languages"
                  [ngClass]="{
                    selected: language?.lang === selectedLanguage?.lang
                  }"
                  lines="none"
                >
                  <img [src]="language.flag" class="country-flag" />
                  <ion-label
                    [innerHTML]="language.label | translate"
                  ></ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="no-border">
  <ion-toolbar>
    <ion-button
      id="btn-continue"
      (click)="go()"
      [disabled]="!selectedLanguage"
      slot="end"
    >
      {{ 'BUTTON.CONTINUE' | translate }}
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
