:root {
  --ion-font-family: 'Gotham';
  --ion-color-primary: #0b2448;
  --ion-color-primary-rgb: 28, 78, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #002c61;
  --ion-color-primary-tint: #1568df;

  --ion-color-secondary: #22e1e0;
  --ion-color-secondary-rgb: 34, 225, 224;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #1ec6c5;
  --ion-color-secondary-tint: #38e4e3;

  --ion-color-tertiary: #3266a6;
  --ion-color-tertiary-rgb: 24, 118, 253;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3266a6;
  --ion-color-tertiary-tint: #3266a6;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #f2c94c;
  --ion-color-warning-rgb: 242, 201, 76;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d5b143;
  --ion-color-warning-tint: #f3ce5e;

  --ion-color-danger: #eb5757;
  --ion-color-danger-rgb: 235, 87, 87;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #cf4d4d;
  --ion-color-danger-tint: #ed6868;

  --ion-color-dark: linear-gradient(270deg, #0b2448 0%, #011533 100%);
  --ion-color-dark-rgb: 43, 43, 43;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #262626;
  --ion-color-dark-tint: #404040;

  --ion-color-medium: #d0d0d0;
  --ion-color-medium-rgb: 208, 208, 208;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #b7b7b7;
  --ion-color-medium-tint: #d5d5d5;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-gray: #aeaeae;
  --ion-color-blue: #0b2448;
  --paragraph: '1D8774';
}
