@import 'media';
@import 'theme';

ion-fab-button.logo {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  --ripple-color: none;
  --background: #fff;
  --box-shadow: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
  top: 4px;
  left: -4px;

  .menu-logo-border {
    position: relative;
    z-index: 0;
  }

  ion-icon {
    z-index: 1;
    font-size: 42px;
    position: absolute;
    bottom: 9px;
  }

  &.ion-activated {
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%);
    --background: #fff;
  }
}

ion-tab-bar {
  --background: #fff;
  --border: 1.4px solid #cfcfcf;

  @include isDarkTheme {
    --ion-tab-bar-background: transparent;
    --background-focused: transparent;
    --border: 1px solid rgba(255, 255, 255, 0.3);
  }

  ion-tab-button {
    .menu-icon {
      width: 30px;
      font-size: 18px;

      @include isDarkTheme {
        filter: grayscale(1) brightness(0.7);
      }

      &.isActive {
        @include isDarkTheme {
          filter: brightness(10) opacity(0.9);
        }
      }

      ion-icon {
      }
    }

    ion-label {
      text-transform: lowercase;
      color: #0b2448;
      opacity: 0.8;
      position: absolute;
      bottom: 3px;

      @include isDarkTheme {
        opacity: 1;
        color: #fff;
      }
    }

    &.tab-selected {
      ion-label {
        opacity: 1;

        @include isDarkTheme {
          color: #fff;
        }
      }

      ion-icon {
        @include isDarkTheme {
          filter: grayscale(1);
        }
      }
    }
  }
}
