<ion-header class="no-border">
  <ion-toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button (clicked)="back()" [delegate]="true"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="header">

      <div *ngIf="step === 1">
        <h1 [innerHTML]="'PAGE.CREATE_WALLET.PICK_PASSWORD.TITLE_STEP_1' | translate" class="subtitle"></h1>
        <p [innerHTML]="'PAGE.CREATE_WALLET.PICK_PASSWORD.SUBTITLE_STEP_1' | translate" class="description"></p>
      </div>

      <div *ngIf="step === 2">
        <h1 [innerHTML]="'PAGE.CREATE_WALLET.PICK_PASSWORD.TITLE_STEP_2' | translate" class="subtitle"></h1>
        <p [innerHTML]="'PAGE.CREATE_WALLET.PICK_PASSWORD.SUBTITLE_STEP_2' | translate" class="description"></p>
      </div>
    </ion-row>

    <form (keydown.enter)="(!formObj.invalid) ? submit() : null" [formGroup]="formObj" autocomplete="off">
      <ion-list class="form-item">
        <ion-item-group [hidden]="step !== 1">
          <ion-item lines="none">
            <div class="form-input--pass" slot="start"></div>
            <ion-input #password id="password" [placeholder]="'PLACEHOLDER.PASSWORD' | translate" formControlName="password"
                       type="password"></ion-input>
            <ion-icon
              *ngIf="formObj.controls.password?.value?.length > 0 && formObj.controls.password.valid && !formObj?.errors?.equal"
              class="icon-valid" name="checkmark" slot="end"></ion-icon>
            <ion-icon
              *ngIf="(formObj.controls.password?.value?.length > 0 && formObj.controls.password.invalid) || formObj?.errors?.equal"
              class="icon-invalid" name="close" slot="end"></ion-icon>
          </ion-item>

          <div class="progress-bar">
            <mat-password-strength
              #passwordComponent
              [customValidator]="regexPasswordValidation"
              [password]="password?.value?.toString()"
            ></mat-password-strength>
          </div>

          <div [innerHTML]="'PAGE.CREATE_WALLET.PICK_PASSWORD.PASSWORD_INFO' | translate" class="password-info"></div>

        </ion-item-group>

        <ion-item-group [hidden]="step !== 2">
          <ion-item lines="none">
            <div class="form-input--pass" slot="start"></div>
            <ion-input id="confirmPassword" [placeholder]="'PLACEHOLDER.CONFIRM_PASSWORD' | translate" formControlName="confirmPassword"
                       type="password"></ion-input>
            <ion-icon
              *ngIf="formObj.controls.confirmPassword?.value?.length > 0 && formObj.controls.confirmPassword.valid && !formObj?.errors?.match"
              class="icon-valid" name="checkmark" slot="end"></ion-icon>
            <ion-icon
              *ngIf="(formObj.controls.confirmPassword?.value?.length > 0 && formObj.controls.confirmPassword.invalid) || formObj?.errors?.match"
              class="icon-invalid" name="close" slot="end"></ion-icon>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-row class="btn-actions">
        <ion-col>
          <ion-button id="submit" (click)="step === 1 ? goToStep(2) : (step === 2) ? submit() : null"
                      [disabled]="disableSubmitButton()"
                      class="btn-action">
            {{'BUTTON.CONTINUE' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>

