<div class="tokens">
  <ion-list>
    <ion-item
      lines="none"
      class="list-item wallet-list"
      (click)="goToToken(provider?.symbol)"
    >
      <ion-button class="coin-box qpass-flex between-xs" expand="full">
        <ion-icon [name]="provider?.symbol?.toLowerCase()"></ion-icon>
        <span class="coinCode">{{ provider?.symbol }}</span>
        <span class="coinName">{{ provider?.name }}</span>

        <div class="col-xs ion-text-right coinBalance">
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          <ng-container *ngIf="!loading && showBalance">
            <span
              class="symbol"
              [innerHTML]="wallet?.balance | cryptoBalance"
            ></span>
          </ng-container>
          <ng-container *ngIf="!loading && !showBalance">
            <small>{{ '****' }}</small>
          </ng-container>
        </div>
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="missingToken">
    Don't see your token?
    <ion-button class="btn-import-token" (click)="openImportTokenModel()">
      Import Token
    </ion-button>
  </div>
</div>
