<div class="tokens">
  <ion-list>
    <ion-item (click)="goToToken(provider?.symbol)" class="list-item wallet-list" lines="none">
      <ion-button class="coin-box qpass-flex between-xs" expand="full">
        <ion-icon [name]="provider?.symbol?.toLowerCase()"></ion-icon>
        <span class="coinCode">{{ provider?.symbol }}</span>
        <span class="coinName">{{ provider?.name }}</span>

        <div class="col-xs ion-text-right coinBalance">
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          <ng-container *ngIf="!loading && showBalance">
            <span [innerHTML]="wallet?.balance | cryptoBalance" class="symbol"></span>
          </ng-container>
          <ng-container *ngIf="!loading && !showBalance">
            <small>{{ '****' }}</small>
          </ng-container>
        </div>
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="missingToken">
    {{'COMP.TOKENS.INFO' | translate}}<br/>
    <ion-button (click)="openImportTokenModel()" class="btn-white outline small">
      {{'BUTTON.IMPORT_TOKEN' | translate}}
    </ion-button>
  </div>
</div>
