<ion-header [translucent]="true" class="no-border">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <ion-button
        (click)="goToNetwork()"
        class="btn-transparent back-button white"
      >
        <ion-icon name="git-network-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="goToSetting()"
        class="btn-transparent back-button white"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
