<ion-header class="no-border" [translucent]="true">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <ion-button
        class="btn-transparent back-button white"
        (click)="goToProviders()"
      >
        <ion-icon name="git-network-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="btn-transparent back-button white"
        (click)="goToSetting()"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
