<ion-header class="no-border" [translucent]="true">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <ion-button class="btn-transparent back-button white"></ion-button>
<!--      <app-back-button [delegate]="true" (clicked)="goBack()"></app-back-button>-->
    </ion-buttons>
    <ion-title>
      <app-account></app-account>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn-transparent back-button white" (click)="goToSetting()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
