<ion-header class="no-border">
  <ion-toolbar #toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button [delegate]="true" (clicked)="goBack()"></app-back-button>
    </ion-buttons>
    <ion-title [innerHTML]="'PAGE.PROVIDER.TITLE' | translate"></ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="addProvider()"
        class="btn-transparent back-button white"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="toolbar">
  <ion-searchbar
    animated
    [debounce]="250"
    [(ngModel)]="search"
    autocorrect="off"
    [placeholder]="'PAGE.PROVIDER.SEARCH' | translate"
  ></ion-searchbar>

  <div class="filters">
    <ion-label>Only Test Networks</ion-label>
    <ion-toggle
      (ionChange)="toggleTestNetworks()"
      [checked]="testnetNetworks"
      class="toggle"
    ></ion-toggle>
  </div>
  <ion-list class="providers">
    <ion-item
      button
      *ngFor="
        let provider of providers
          | appFilter
            : search
            : ['name', 'address', 'symbol']
            : 'testnet'
            : testnetNetworks
      "
      class="list-item"
      lines="none"
      (click)="switchProvider(provider)"
    >
      <ion-button class="provider-box qpass-flex between-xs" expand="full">
        <ion-icon
          [name]="provider.default ? 'ellipse' : 'ellipse-outline'"
        ></ion-icon>
        <span class="providerName">{{ provider?.name }}</span>
        <div class="col-xs ion-text-right">
          <ion-chip *ngIf="provider?.testnet">testnet</ion-chip>
        </div>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
