<ion-header class="no-border">
  <ion-toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button [delegate]="true" (clicked)="back()"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="header">

      <div *ngIf="step === 1">
        <h1 class="subtitle" [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.TITLE_STEP_1' | translate"></h1>
        <p class="description" [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_STEP_1' | translate"></p>
        <p class="security-info" [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_2_STEP_1' | translate"></p>
      </div>

      <div *ngIf="step === 2">
          <h1 class="subtitle" [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.TITLE_STEP_2' | translate"></h1>
          <p class="description" [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_STEP_2' | translate"></p>
      </div>
    </ion-row>

    <ion-list class="list-container" [class.verifyPhrases]="step === 2">
        <ion-item-group [hidden]="step !== 1">
          <div class="" *ngFor="let phrase of phrases; let i = index">
            <span class="phraseId">{{i+1}}</span>
            <ion-chip>{{phrase}}</ion-chip>
          </div>
        </ion-item-group>

        <ion-item-group [hidden]="step !== 2">
          <div *ngFor="let phrase of verifyPhrases">
            <ion-label class="select">Select word #{{phrase.index+1}}</ion-label>
            <ion-chip *ngFor="let item of phrase.items" (click)="selectAnswer(phrase, item)"
                      [class.success]="item.answer && item.valid"
                      [class.error]="item.answer && !item.valid">
              <ion-label>{{item.name}}</ion-label>
            </ion-chip>
          </div>
        </ion-item-group>
      </ion-list>
  </ion-grid>

</ion-content>

<ion-footer class="no-border">
  <ion-toolbar>
    <ion-button *ngIf="step === 1" class="btn-action outline" appCopyClipboard [payload]="payloadClipboard" (copied)="copied($event)">
      {{'BUTTON.COPY' | translate}}
    </ion-button>
    <ion-button class="btn-action"
                [disabled]="disabledSubmit()"
                (click)="step === 1 ? goToStep(2) : (step === 2) ? submit() : null">
      {{'BUTTON.CONTINUE' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
