<ion-header class="no-border">
  <ion-toolbar class="default">
    <ion-buttons slot="start">
      <app-back-button (clicked)="back()" [delegate]="true"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="header">

      <div *ngIf="step === 1">
        <h1 [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.TITLE_STEP_1' | translate" class="subtitle"></h1>
        <p [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_STEP_1' | translate" class="description"></p>
        <p [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_2_STEP_1' | translate" class="security-info"></p>
      </div>

      <div *ngIf="step === 2">
        <h1 [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.TITLE_STEP_2' | translate" class="subtitle"></h1>
        <p [innerHTML]="'PAGE.CREATE_WALLET.RECOVER_PHRASE.SUBTITLE_STEP_2' | translate" class="description"></p>
      </div>
    </ion-row>

    <ion-list [class.phrases]="step === 2" class="list-container">
      <ion-item-group [hidden]="step !== 1">
        <div *ngFor="let phrase of phrases; let i = index" class="">
          <span class="phraseId">{{i + 1}}</span>
          <ion-chip>{{phrase}}</ion-chip>
        </div>
      </ion-item-group>

      <ion-item-group [hidden]="step !== 2">
        <div class="verifyPhrases" *ngFor="let phrase of verifyPhrases">
          <ion-label class="select">Select word #{{phrase.index + 1}}</ion-label>
          <ion-chip (click)="selectAnswer(phrase, item)" *ngFor="let item of phrase.items"
                    [class.error]="item.answer && !item.valid"
                    [class.success]="item.answer && item.valid">
            <ion-label>{{item.name}}</ion-label>
          </ion-chip>
        </div>
      </ion-item-group>
    </ion-list>
  </ion-grid>

</ion-content>

<ion-footer class="no-border">
  <ion-toolbar>
    <ion-button id="copy" (copied)="copied($event)" *ngIf="step === 1" [payload]="payloadClipboard" appCopyClipboard
                class="btn-white">
      {{'BUTTON.COPY' | translate}}
    </ion-button>
    <ion-button id="btn-seedPhrase" (click)="step === 1 ? goToStep(2) : (step === 2) ? submit() : null"
                [disabled]="disabledSubmit()"
                class="btn-action">
      {{'BUTTON.CONTINUE' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
